extends navBar

block content    
    form(id="createAccount" action="/signup" method="post")
        p 
        |Username: 
        br
        input(type="text", name="username", id="username")
        br
        br
        p 
        |Password: 
        br
        input(type="password", name="password", id="password")
        br
        br
        input(type="submit", value="Sign Up", id="createSubmit")