extends navBar

block content    
    form(id="createAccount" action="/signup" method="post")
        div(id="userNameBox")
            label(for="username") Username:
            br
            input(type="text", name="username", id="username" autofocus placeholder='Username')
        br
        div(id="passcode")
            label(for="password") Password:
            br
            input(type="password", name="password", id="password" placeholder='Password')
        br
        div(id='submitButton')
            input(type="submit", value="Sign Up", id="createSubmit")