extends navBar

html
    head
        link(rel="stylesheet" href="/editLayout.css")
    body
        div(id="buttons")
            input(type="button" value="Edit Profile Picture" id="edit_picture")
            input(type="button" value="Edit Username" id="edit_username")
            input(type="button" value="Edit Password" id="edit_password")
        div(id="display")
            img(src="database image")
            //current/old username shown
            //current/old password shown
        
