extends navBar

html
    head
        link(rel="stylesheet" href="/style.css")
    body
        // br
            br
            div(id="logout")
                input(type="button", value="Logout")
            div(id="buttons")
                input(type="button" value="Edit Profile Picture" id="edit_picture")
                br
                br
                input(type="button" value="Edit Password" id="edit_password")
                br
            div(id="display")
                // user can put in they're own image but not sure how to do that right now
                img(src="")
                input(type="image" src="" alt="")
                br
                // ask for old password to change the password
                br
                form(action=`/user/${username}` method="PATCH")
                    input(type="password" name="oldPassword" id="oldPassword")
                    input(type="submit" value="Confirm Password")
            script(src='/scripts/edit.js')
        form(method='PATCH' action="/user/" id="editForm")
            div(id="changeAvatar")
                p Placeholder
            div(id="changePass")
                if invalid
                    div(class="error") Invalid Password
                label(for="oldPassword") Old Password:
                br
                input(type="password" id="oldPassword" name='oldPassword')
                br
                label(for="newPassword") New Password:
                br
                input(type="password" id="newPassword" name='newPassword')
            br
            div(id='editSubmit')
                input(type="submit" value="Submit Changes" id="editSubmitBtn")
