extends navBar

block content
    h1(id="welcome") Welcome to Harmony!
    
    div(id="description") Harmony is an online-messaging client built on an Express.js backend, supported by MongoDB. The main messaging technology is powered by socket.io and provides simple client-server communication.

    hr

    img(id="webEx" src="../images/Harmony Example.PNG")

