extends navBar

block content
    form(method='post' action="/login" id="loginForm")
        div(id="userName")
            label(for="username") Username:
            br
            input(type="text" name="username")
        br
        div(id="passcode")
            label(for="password") Password:
            br
            input(type="password" name='password')
        br
        div(id='submitButton')
            input(type="submit" value="Login" id="loginSubmit")
        div(id="signUpButton")
            a(href="/signUp" id="signUpHref") Sign Up