doctype html
html
    head
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Sansita+Swashed:wght@600&display=swap")
        link(rel="stylesheet", href="/style.css")
        link(rel="icon", type="image/png", href="/images/harmony_logo.png")
        title Harmony &bull; #{title}
        block head
    body
        header
            nav
                img(id="logo" src="../images/harmony_logo.png")
                ul
                    if(config != null)
                        each item in config.menu
                            a(href = item[1])
                                div(class = 'menu_item')
                                    li(id = item[0]) #{item[0]}
                
        section
            div(id=`${title.replace(" ", "")}Page`)
                h1(id="titleB") #{title}
                block content
        footer
            div &copy; HarmonyDevelopment