doctype
html
    head
        style(type="text/css").
            body{text-align: center; background-color: rgba(239, 243, 243, 0.712);}
    body
        h1 Edit nickname
        p Nickname: 
            input(type="text")
        br
        input(type="submit" value="Save Changes")