doctype
html
    head
        link(rel="stylesheet", href="/room.css")
        script(src="/scripts/socket.io.js")
    body
        div(id="container")
            div(id="room_list")
                //Room Placeholders
                span(class="room" href="")
                span(class="room" href="")
                span(class="room" href="")
                span(class="room" href="")
                span(class="room" href="")
            div(id="container2")
                div(id="top_container")
                    div(id="usernameText")
                    form(id="setUsername")
                        input(type="text" id="username")
                        input(type="submit" value="Set Username")
                    div(id="space")
                    div(id="logout")
                        a(href="/logout") Logout
                div(id="messages")
                    //Message Placeholders
                    span(class="message_box")
                        span(class="avatar")
                        span(class="name") Person 1:
                        span(class="message") Hello World!
                //div(id="message_container")
                form(id="message_container")
                    textarea(id="my_message" placeholder="Message" rows="1")
                    input(type="submit" id="sendBtn" value="SEND")
        script(src="/scripts/testmanager.js")