#logout {
    float: right;
    position: relative;
    bottom: 30px;
}

#display {
    float: right;
    vertical-align: bottom;
    position: relative;
    top: 50px; 
    border-style: solid;
}

#username-submit {
    float: right;
}


#buttons {
    position: fixed;
    top: 90px;
    float: left;
}