body {
    font-family: "Open Sans", sans-serif;
}

/* Container Holding all Page Containers*/
#page_container {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%; /* We'll just make it the whole height. 45em doesn't display fully on all screens */
    position: absolute;
}

/* Left (Room Icon) Container*/
#left_content, #rooms_container {
    width: 6em;
    height: 100%;
    background-color: var(--secondary-bgColor);
    transition: background-color 0.5s;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Center (Messages Display and Input Message) Container*/
#middle_content {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

#display_messages_container {
    min-width: 400px;
    flex-grow: 30;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#input_message_container {
    background-color: var(--bg-color);
    transition: background-color 0.5s;
    flex-grow: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 40vh;
}

/* Right (Currently just Username and Logout) Container*/
#right_content {
    width: 15em;
    min-width: 165px;
    height: 100%;
    background-color: var(--secondary-bgColor);
    transition: background-color 0.5s;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


/* ===================
    Modals 
   =================== */
#modal_background {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    -webkit-animation-name: animatebackground;
    -webkit-animation-duration: 0.4s;
    animation-name: animatebackground;
    animation-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Will transition to black opacity*/
@-webkit-keyframes animatebackground {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@keyframes animatebackground {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

/* transition getting smaller to bigger*/
@-webkit-keyframes modalpop {
    from {
        width: 15em;
        height: 18em;
    }
    to {
        width: 20em;
        height: 24em;
    }
}

@keyframes modalpop {
    from {
        width: 15em;
        height: 18em
    }
    to {
        width: 20em;
        height: 24em;
    }
}

.modal {
    display: none;
}

.modal_header {
    padding: 2px 16px;
    text-align: center;
    /*background-color: white;*/
    color: black;
}

.modal div {
    color: var(--font-color);
    transition: color 0.5s;
}

.modal_body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75%;
}

.modal_content {
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
    /*width: 20em;
    height: 24em;*/
    background-color: var(--modal-color);
    border: 1px solid var(--borderModal-color);
    border-radius: 10px;
    transition: background-color 0.5s, border 0.5s;

    -webkit-animation-name: modalpop;
    -webkit-animation-duration: 0.2s;
    animation-name: modalpop;
    animation-duration: 0.2s;
}

#user_modal {
    width: 30%;
    height: 40%;
}

#drop_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-size: 1.5em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#file_section {
    /*flex-grow: 1;*/
    display: flex;
    align-items: flex-end;
}

#message_section {
    flex-grow: 10;
    width: 200px;
    min-width: 200px;
}

#send_media {
    display: none;
    /*padding-bottom: 10px;*/
}

#submit_file_button {
    float: left;
    bottom: 0;
}

#img_preview {
    margin: 5px 40px;
    position: relative;
    display: inline-block;
    max-height: 19vh;
}

#img_preview:empty {
    margin: 0;
}

#img_preview img {
    display: inline-block;
    max-height: 19vh;
}

.modal_footer {
    padding: 2px 16px;
}

.modal .name {
    font-size: 2em;
    max-width: 60%;
    margin: 5px auto;
    text-decoration: underline;
    color: var(--font-color);
}

.modal .avatar {
    margin: 10px 20px;
}

.clear {
    clear: both;
}

#mutual .title {
    text-decoration: underline;
}

.room-link {
    font-style: italic;
}

.room-link:hover {
    cursor: pointer;
}