:root {
    --font-color: black;
    --bg-color: #fff;
    --secondary-bgColor: #F4F6F7;
    --therd-bgColor: #57595e;
    --msgBox-color: #ababab;
    --button-color: rgb(179, 183, 185);
    --modal-color: #888;
    --closeModal-color: #555;
    --borderModal-color: rgb(68, 68, 68);
    --link-color: #1f2fff;
    --name-hover: #85ff52;
}

[data-theme="dark"] {
    --font-color: #fff;
    --bg-color: #36393f;
    --secondary-bgColor: #202225;
    --therd-bgColor: #F4F6F7;
    --msgBox-color: #54545d;
    --button-color: rgb(120, 134, 146);
    --modal-color: #555;
    --closeModal-color: #aaa;
    --borderModal-color: #888;
    --link-color: #8ff8ff;
    --name-hover: #52fff1;
}

/* General Styles*/
body {
    margin: 0;
    overflow: hidden;
    background-color: var(--bg-color);
    transition: background-color 0.5s;
}

.button {
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 12px 20px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    margin: 0;
}

.button:hover {
    background-color: gray;
}

/* logout */
#logout {
    background-color: #F4F6F7;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    color: var(--font-color);
    transition: color 0.5s;
}

/*Room (Icon) Styles*/
.room, #new_room {
    background-color: white;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    margin: .75em;
    cursor: pointer;
    transition: border-radius 0.2s;
}

.room:hover {
    /* background-color:gray; */
    border-radius: 15px;
    transition: border-radius 0.2s;
}

#new_room {
    background-color: var(--button-color);
}

#new_room_icon{
    margin-top: 4px;
    margin-left: 4px;
    width: 80%;
    height: 80%;
}

#new_room:hover {
    background-color: #0f0;
    border-radius: 15px;
    transition: border-radius 0.2s;
}


.tooltiptext{
    display: none;
    position: absolute;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 104%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}


/* Right Side Labels*/
#roomname_label {
    color: var(--font-color);
    transition: color 0.5s;
    text-align: center;
    font-size: 24px;
}

#username_label {
    color: var(--font-color);
    transition: color 0.5s;
    text-align: center;
    font-size: 20px;
}

/* Displayed Messages (MessageBox, Name, Avatar, Message)*/
.message_box {
    color: var(--therd-bgColor);
    margin: 1em 2em;
    background-color: var(--msgBox-color);
    transition: background-color 0.5s, color 0.5s;
    /*width: 90%;*/
    padding: 1em;
    border-radius: 15px;
}

.timestamp {
    display: none;
    float: right;
    font-size: 0.75em;
    position: relative;
    top: -10px;
    text-align: right;
}

.message:hover .timestamp {
    display: inline-block;
}

.msgAvatar {
    height: 100%;
    display: inline-block;
    float: left;
}

.avatar {
    margin: 10px auto;
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.message_box .avatar {
    width: 60px;
    height: 60px;
    margin: 10px 20px 10px 10px;
    position: relative;
}

.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: border 0.5s;
    box-sizing: border-box;
}

.name:hover, .msgAvatar:hover {
    cursor: pointer;
    color: var(--name-hover);
}

.name {
    transition: color 0.5s;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.message_name {
    padding: 2em;
    border-bottom: 2px solid var(--bg-color);
    transition: border 0.5s;
    display: block;
    font-size: 20px;
}

.message {
    display: block;
    font-size: 18px;
    white-space: pre-wrap;
    padding: 5px 0px 20px 0px;
    margin-left: 90px;
}

.message:last-child {
    padding: 5px 0px;
}

.message a {
    color: var(--link-color);
    transition: color 0.5s;
    font-style: italic;
}

.message_image {
    max-width: 100%;
    max-height: 450px;
    border-radius: 12px;
}

/* change avatar */
#avatarImg{
    cursor: pointer;
    border-radius: 4px;
}

#changeAvatar {
    width: 80px;
    height: 80px;
}

#avatarSelection {
    position: relative;
    font-family: Arial;
    font-size: 20px;
    width: 150px;
    height: 50px;
}

#avatarSelection select {
    display: none;
    width: 150px;
    height: 50px;
}

#avatarSelection {
    background-color: var(--button-color);
    transition: background-color 0.5s;
}

#tryAvatar {
    background-color: var(--button-color);
    transition: background-color 0.5s;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

/* Input Stuff*/
span.textarea:empty::before {
    content: "Message";
}
span.textarea {
    display: flex;
    background-color: var(--msgBox-color);
    border-radius: 8px;
    min-height: 55px;
    max-height: 25vh;
    overflow-y: scroll;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    color: var(--font-color);
    transition: background-color 0.5s, color 0.5s;
    padding: 5px;
}

span.textarea:hover, span.textarea:focus {
    outline: none;
}

#bottom_input {
    background-color: var(--msgBox-color);
    border-radius: 8px;
    width: 100%;
    display: flex;
    padding: 0.2em;
    align-items: center;
}

#file_icon_container{
    display: block;
    margin: 0 10px;
    width: 2.5em;
    height: 2.5em;
    background-color: var(--button-color);
    border-radius: 24px;
    text-align:center;
    top: 50%;
}
#file_icon_container:hover,
#file_icon_container:focus{
    cursor: pointer;
    background-color: lightgray;
}
#file_icon{
    padding-top: 5px;
    width: 65%;
    height: 65%;
}

#my_file{
    display: none;
}

/* Extra Modal Stuff */
.view_image{
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.image_link{
    position: absolute;
    left: 45%;
    top: 80%;
    transform: translate(-50%, -50%);
}

#username_label:hover,
#username_label:focus {
    cursor: pointer;
}

.modal_body > .button{
    text-align:center;
    width: 50%;
}

.back_modal:hover,
.back_modal:focus {
    cursor: pointer;
}

.close {
    color: var(--closeModal-color);
    transition: color 0.5s;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Scrollbar (Note is only supported on: (Chrome, Edge, Safari and Opera)*/
::-webkit-scrollbar {
    width: 12px;
}

/* Track 
::-webkit-scrollbar-track {
}*/

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #111;
}


/* Toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

em {
    margin-left: 10px;
    font-size: 1rem;
    color: var(--font-color);
    transition: color 0.5s;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #2bd834;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.upload-name {
    color: var(--font-color);
    transition: color 0.5s;
}

.circle-button {
    position: absolute;
    font-family: sans-serif;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
    color: var(--font-color);
    border: 2px solid var(--borderModal-color);
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-button:hover {
    cursor: pointer;
}


/* Context Menu Stuff*/
#context_menu{
    display: none;
    position: absolute;
    z-index: 10;
    background-color: var(--secondary-bgColor);
    color: var(--font-color);
    border-radius: 8px;
}

#menu{
    display:flex;
    flex-direction: column;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    align-items: space-evenly;
    padding: 0.5em;
}

.menu_item{
    height: 3em;
    width: 10em;
    border-bottom: 2px solid var(--therd-bgColor);
    padding-top: 1em;
}

#menu_leave{
    border-bottom: 0;
}

.menu_item:hover,
.menu_item:focus{
    cursor: pointer;
};