@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Sansita+Swashed:wght@600&display=swap');

/* Style */
html {
    background: linear-gradient(0deg, #c4c0ff 0%, #fff 10%, #fff 100%);
    /*background-color: rgba(244, 247, 247, 0.548);*/
    min-height: 100%;
}

body {
    text-align: center;
    padding: 20px 20px 0;
    margin-bottom: 0;
}

#titleB {
    font-family: 'Sansita Swashed', serif;
    font-size: 50px;
    margin-top: 20px;
}

#welcome {
    font-family: 'Sansita Swashed', cursive;
    font-size: 35px;
}

/* navbar */
nav {
    border: 1px solid white;
    display: flex;
    align-items: center;
    background: #34495E;
    color: whitesmoke;
    font-family: 'Merriweather', serif;
    box-shadow: 0px 5px 10px #444;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
}

li, a {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1.3em;
    color: whitesmoke;
}

nav a {
    border-right: 2px solid #283747;
}

nav a:last-child {
    border: none;
}

a:hover {
    background-color: #283747;
}

#HomePage {
    position: relative;
}

/* login Form */
#LoginPage {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#loginForm, #createAccount {
    background-color: #ABB2B9;
    width: 50%;
    height: auto;
    color: black;
    box-shadow: 5px 5px 10px #444;
    padding-bottom: 10px;
    border-radius: 10px;
}

#userNameBox, #passcode {
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    display: inline-flex;
    align-items: center;
}

#submitButton {
    padding: 12px 30px;
    margin: auto;
    width: 70%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#signUpHref {
    color: black;
    background-color: #ABB2B9;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

#loginSubmit {
    width: auto;
    cursor: pointer;
    height: 59px;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
}

input {
    width: 30%;
    box-sizing : border-box;
    height: 20px;
    display: flex;
}

label {
    padding: 0px 8px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

/*Create Account Form*/
#SignUpPage{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#username, #password {
    padding: 12px 5px;
    width: 60%;
    box-sizing: border-box;
    justify-content: center;
    display: inline-flex;
}

#createSubmit {
    cursor: pointer;
    margin: auto;
    width: auto;
    height: 55px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
}

/* Images */
#webEx {
    height: 55vh;
    width: auto;
}

#logo {
    width: 90px;
    height: 80px;
    margin-left: 70px;
}

.error {
    color: #d00;
    margin-top: 1em;
}

section {
    font-family: "Open Sans", sans-serif;
}

#description {
    width: 60%;
    margin: 0 auto;
}

footer {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
}

@media screen and (orientation: portrait) {
    nav {
        flex-direction: column;
    }
    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    nav a, nav a:last-child {
        border-right: none;
        border-top: 3px solid #283747;
        width: 100%;
        box-sizing: border-box;
    }
    li {
        font-size: 1.6em;
    }

    #webEx {
        width: 100%;
        height: auto;
    }
    #logo {
        margin: 0;
    }
}

/*
@media screen and (max-width: 1060px) {
    !* Style *!
    #titleB {
        font-family: 'Merriweather', serif;
        font-size: 35px;
        margin-top: 10px;
    }

    #welcome {
        font-family: 'Sansita Swashed', cursive;
        font-size: 30px;
    }

    !* NavBar *!
    li {
        margin-top: 10px;
        margin-left: -40px;
        margin-right: -40px;
    }

    li, a {
        display: inline-block;
        font-size: 25px;
        color: whitesmoke;
    }

    !* login page *!
    #submitButton {
        margin: 0 -50px;
        width: 500px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }

    #loginSubmit {
        cursor: pointer;
        height: 45px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
    }

    #signUpHref {
        color: black;
        background-color: #ABB2B9;
        font-size: 30px;
    }

    label {
        padding: 0px 8px;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
    }

    !*Create Account Form*!
    #createSubmit {
        cursor: pointer;
        margin: auto;
        width: 28%;
        height: 50px;
        font-size: 26px;
        font-family: 'Open Sans', sans-serif;
        justify-content: center;
    }

    !* Images *!
    #webEx {
        width: 700px;
        height: 350px;
    }

    #logo {
        width: 90px;
        height: 80px;
        margin-left: 30px;
    }

    .error {
        color: #d00;
        margin-top: 1em;
    }
}*/
