@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Sansita+Swashed:wght@600&display=swap');

/* Style */
html {
    background-color: rgba(244, 247, 247, 0.548);
}

body {
    text-align: center;
    padding: 20px;
    height: fit-content;
}

#titleB {
    font-family: 'Merriweather', serif;
    font-size: 50px;
    margin-top: 10px;
}

#welcome {
    font-family: 'Sansita Swashed', cursive;
    font-size: 35px;
}

/* navbar */
nav {
    border: 1px solid white;
    display: flex;
    background: #34495E;
    color: whitesmoke;
    font-family: 'Merriweather', serif;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    margin-top: 10px;
    margin-left: 70px;
}

li, a {
    display: inline-block;
    padding: 7px 50px;
    font-size: 30px;
    color: whitesmoke;
}

a:hover {
    background-color: #283747;
}

/* login Form */
#LoginPage {
    width: 100%;
    float: left;
    justify-content: center;
    display: flex;
}

#loginForm {
    background-color: #ABB2B9;
    width: 50%;
    height: auto;
    position: absolute;
    margin: 100px 36px;
    color: black;
}

#userNameBox, #passcode {
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    display: inline-flex;
}

#submitButton {
    padding: 12px 30px;
    margin: auto;
    width: 70%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#signUpHref {
    color: black;
    background-color: #ABB2B9;
}

#loginSubmit {
    cursor: pointer;
    height: 59px;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
}

input {
    width: 30%;
    box-sizing : border-box;
    height: 20px;
    display: flex;
}

label {
    padding: 0px 8px;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}

/*Create Account Form*/
#SignUpPage{
    width: 100%;
    float: left;
    justify-content: center;
    display: flex;
}

#createAccount {
    background-color: #ABB2B9;
    width: 50%;
    height: auto;
    position: absolute;
    margin: 100px 36px;
    color: black;
}

#username, #password {
    padding: 12px 20px;
    margin: 8px 0;
    width: 60%;
    box-sizing: border-box;
    justify-content: center;
    display: inline-flex;
}

#createSubmit {
    cursor: pointer;
    margin: auto;
    width: 30%;
    height: 55px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    justify-content: center;
}

/* Images */
#webEx {
    width: 930px;
    height: 450px;
}

#logo {
    width: 90px;
    height: 80px;
    margin-left: 70px;
}

.error {
    color: #d00;
    margin-top: 1em;
}

@media screen and (max-width: 1060px) {
    /* Style */
    #titleB {
        font-family: 'Merriweather', serif;
        font-size: 35px;
        margin-top: 10px;
    }

    #welcome {
        font-family: 'Sansita Swashed', cursive;
        font-size: 30px;
    }

    /* NavBar */
    li {
        margin-top: 10px;
        margin-left: -80px;
    }
    
    li, a {
        display: inline-block;
        font-size: 25px;
        color: whitesmoke;
    }

    /* login page */
    #submitButton {
        margin: 0 -50px;
        width: 500px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
    
    #loginSubmit {
        cursor: pointer;
        height: 45px;
        text-align: center;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
    }

    #signUpHref {
        color: black;
        background-color: #ABB2B9;
        font-size: 30px;
    }
    
    label {
        padding: 0px 8px;
        font-size: 20px;
        font-family: 'Indie Flower', cursive;
    }

    /*Create Account Form*/
    #createSubmit {
        cursor: pointer;
        margin: auto;
        width: 28%;
        height: 50px;
        font-size: 26px;
        font-family: 'Indie Flower', cursive;
        justify-content: center;
    }

    /* Images */
    #webEx {
        width: 700px;
        height: 350px;
    }

    #logo {
        width: 90px;
        height: 80px;
        margin-left: 30px;
    }

    .error {
        color: #d00;
        margin-top: 1em;
    }
}